.node {
    position: absolute;
    background-color: black;
    border: 2px solid white;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 25px; 
    min-width: 14px;
    padding: 4px 3px 0 3px;
    text-align: center;
}
#graph-area {
    width: 90%;
    height: 1000px;
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-left: 0px;
    margin-top: 100px;
}
#node-context {
    height: 75px;
    width: 50%;
    position: fixed;
    border: solid;
    border-width: 1px;
    margin: 5% auto;
    left: 0;
    right: 0;
    top: 0;
}
