@model List<Tuple<int, string>>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Playing with Graphs</h2>
    <p>A simple application to monkey around with graphs</p>
    <h4>Graphs:</h4>
    @foreach (Tuple<int, string> graph in Model)
    {
        @Html.ActionLink(graph.Item2, "Graph", "Graph" , new { id = graph.Item1 }, null);
    }
    <br />
    <br />
    @Html.ActionLink("Create New Graph", "New", "Graph", null, new { @class = "btn btn-primary" });
</div>


